<div class = "about" style="background-size: contain;
  background-position: center; background-image: url('https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/118916574_2931381086968169_2205046566158032275_n.jpg?_nc_cat=107&_nc_sid=9267fe&_nc_ohc=6Uj-FBEkgNIAX9g8iWx&_nc_ht=scontent-sea1-1.xx&oh=87ccf09d3becd8a6706114835e2846cd&oe=5FA355E1');">
  <section class = "about-main">
    <h1 style="color:Yellow">Stories</h1>
    <button type="button" class="about-button">Signup</button>
    <%= link_to "Contact", 'signups/new', :class => "btn btn-primary" %>
  </section>
</div>