<div class = "home">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  </style>
  </head>
  <body>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>
    
  </body>
  <section class = "home-main">
    <h1>Stories</h1>
    <p>Fillmore East - June 1971</p>
    <button type="button" class="home-button">Learn more</button>
  </section>

  <div class="home-second">
    <h1>Cat</h1>
    <img src="https://scontent.fsjc1-3.fna.fbcdn.net/v/t1.0-9/120888776_3012359088870368_2533457612490828838_n.jpg?_nc_cat=103&_nc_sid=9267fe&_nc_ohc=SNijhgG7w70AX8e_3H5&_nc_ht=scontent.fsjc1-3.fna&oh=6aec02e1d2f855bb7fcedf5284b3f866&oe=5FA474FE" size='contain'
  position='center' >
  </div><br>
  
  <section class = "home-discover">
    <button type="button" class="home-button">Learn more</button>
  <section>

  <div class="footer">
      <div class="container">
        <div class="col-md-2">
          <ul>
            <h3>Connect with me</h3>
            <li><a href="https://www.facebook.com/profile.php?id=100006562328878">Facebook</a></li>
            <li><a href="https://github.com/zhonghe0615">Github</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>