<div class = "home">
  <div class = "menu">
    <a id="simple-menu" href="#sidr">Toggle menu</a>

    <div id="sidr">
      <!-- Your content -->
      <ul>
        <li><a href="#">List 1</a></li>
        <li class="active"><a href="#">List 2</a></li>
        <li><a href="#">List 3</a></li>
      </ul>
    </div>

    <script>
    $(document).ready(function() {
      $('#simple-menu').sidr();
    });
    </script>
  </div>
  <section class = "home-main">
    <h1>Stories</h1>
    <p>Fillmore East - June 1971</p>
    <button type="button" class="home-button">Learn more</button>
  </section>

  <div class="home-second">
    <h1>Cat</h1>
    <img src="https://scontent.fsjc1-3.fna.fbcdn.net/v/t1.0-9/120888776_3012359088870368_2533457612490828838_n.jpg?_nc_cat=103&_nc_sid=9267fe&_nc_ohc=SNijhgG7w70AX8e_3H5&_nc_ht=scontent.fsjc1-3.fna&oh=6aec02e1d2f855bb7fcedf5284b3f866&oe=5FA474FE" size='contain'
  position='center' >
  </div><br>
  
  <section class = "home-discover">
    <button type="button" class="home-button">Learn more</button>
  <section>

  <div class="footer">
      <div class="container">
        <div class="col-md-2">
          <ul>
            <h3>Connect with me</h3>
            <li><a href="https://www.facebook.com/profile.php?id=100006562328878">Facebook</a></li>
            <li><a href="https://github.com/zhonghe0615">Github</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>