<html>
  <body>
    <div class ="contact-main">
      <img src="http://opensource.guide/assets/images/illos/legal.svg" alt="Italian Trulli">
      <div class="contact container">
        <h2>Thanks. We'll be in touch</h2>
      </div>
    </div>
  </body>
</html>